NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_REST_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

EMAIL_PROVIDER=
EMAIL_FROM=
RESEND_API_KEY=

SMS_PROVIDER=
AFRICAS_TALKING_USERNAME=
AFRICAS_TALKING_API_KEY=
AFRICAS_TALKING_SENDER_ID=

PAYMENT_MODE=sandbox
PAYMENT_CURRENCY=USD
APPLICATION_FEE=

MPESA_API_URL=
MPESA_CLIENT_ID=
MPESA_CLIENT_SECRET=
MPESA_WEBHOOK_SECRET=

AIRTEL_API_URL=
AIRTEL_CLIENT_ID=
AIRTEL_CLIENT_SECRET=
AIRTEL_WEBHOOK_SECRET=

ORANGE_MONEY_API_URL=
ORANGE_MONEY_CLIENT_ID=
ORANGE_MONEY_CLIENT_SECRET=
ORANGE_MONEY_WEBHOOK_SECRET=

BANK_ONE_NAME=
BANK_ONE_API_URL=
BANK_ONE_CLIENT_ID=
BANK_ONE_CLIENT_SECRET=
BANK_ONE_WEBHOOK_SECRET=

BANK_TWO_NAME=
BANK_TWO_API_URL=
BANK_TWO_CLIENT_ID=
BANK_TWO_CLIENT_SECRET=
BANK_TWO_WEBHOOK_SECRET=

CRON_SECRET=
ENCRYPTION_KEY=
AUDIT_HASH_SECRET=
